<div class="row user">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
         <%= link_to user.username + ' ' + user.email, user_path(user) %>
      </div>
    </div>
  </div>
</div>
