<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="text-center"><%= @user == current_user ? "Your Reads" : @user.username + "'s Reads" %> </h1>
  </div>
  <div class="col-md-2">
    <% if user_signed_in? && current_user.followees.include?(@user) %>
      <%= button_to("Unfollow", user_follow_path(followee_id: @user.id), method: :delete, class: 'btn btn-danger btn-lg pull-right')  %>
    <% elsif user_signed_in? && @user != current_user %>
      <%= button_to("Follow", user_follows_path(@user), class: 'btn btn-primary btn-lg pull-right')  %>
    <% end %>
  </div>
</div>
<%= render @user_books %>
