@import "bootstrap";
@import "bootstrap-sprockets";

.spacer50 {
  height: 50px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

.custom-block{
    display: table;
    width: 100%;
}

.custom{
    display: table-cell;
    vertical-align: middle;
    font-size: 11px;
}
